body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-light {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: white;
  color: black;
}

.container-dark {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background: lightslategray;
  color: white;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.my-todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

li {
  width: 200px;
  background-color: bisque;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color);
}

input {
  padding: 8px;
  border-radius: 8px;
  border: 0.1px solid #f7f7f7;
  background-color: #f5f5f5;
}
